@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("animation.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

body {
  background-color: white;
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

/* Hero section start */

#hero header {
  position: relative;
  width: 100vw;
  background-color: #fff;
}

.hamburger {
  height: 48px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hamburger a:first-child i {
  font-size: 24px;
  margin-right: 36px;
  color: #28352f;
  transition: transform 0.1s;
}

.hamburger a:first-child:hover i {
  transform: scale(1.2);
}

#navbar {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 2;
  border-radius: 0 0 25px 25px;
  transition: 0.3s;
}

#close-menu {
  color: #93a79d;
  text-decoration: none;
  font-size: 40px;
  text-align: center;
  margin-left: 85vw;
}

.manu {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 40px;
  list-style: none;
}

.manu a {
  text-decoration: none;
  color: #3a4a42;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  width: 251px;
  margin-left: 28px;
}

/* banner */

.banner {
  width: 100vw;
  height: 653.32px;
  background-image: url("../images/header-illsutration-mobile@2x.png");
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 327px;
  height: 211px;
  text-align: center;
}

.title h1 {
  position: relative;
}

.title h1 b {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #60c095;
  width: 0;
  height: 100%;
  animation: text-box 3s ease forwards;
}

@keyframes text-box {
  50% {
    left: 0;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 0;
  }
}

.title h1 span:not(:last-child) {
  display: block;
  color: #172b4d00;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  animation: text-revel-one 0.1s forwards;
  animation-delay: 1.4s;
}

@keyframes text-revel-one {
  100% {
    color: #172b4d;
  }
}

.title h1:last-child {
  color: #36b37e00;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  animation: text-revel-two 0.1s forwards;
  animation-delay: 1.4s;
}

@keyframes text-revel-two {
  100% {
    color: #36b37e;
  }
}

.info {
  width: 327px;
  height: 164px;
  color: #172b4d;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 15px;
}

/* social media icon */

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social ul {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

.social ul li {
  list-style-type: none;
}

.twitter {
  width: 21.58px;
  height: 21.58px;
  margin: 9.51px;
}

.linkedin {
  width: 22px;
  height: 21.62px;
  margin: 9.51px;
}

.medium {
  width: 22px;
  height: 17.69px;
  margin: 9.51px;
  margin-top: 13.51px;
}

.github {
  width: 19.99px;
  height: 21.62px;
  margin: 9.51px;
  margin-top: 10.51px;
}

.angellist {
  width: 16.17px;
  height: 21.62px;
  margin: 9.51px;
  margin-top: 10.51px;
}

.drop-down {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: -20px;
}

.chevron {
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Hero section end */

/* Work section start */

.showcase-title {
  width: 100vw;
  height: 125px;
  margin-top: 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title-box {
  text-align: center;
  width: 327px;
}

.showcase-title h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.separator {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
}

#worksection {
  margin-top: 62px;
  display: grid;
  grid-template-columns: auto;
  row-gap: 24px;
  justify-content: center;
}

.card {
  width: 327px;
  height: 474px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.03);
}

.card .card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 222px;
  background-color: #fff;
  border-radius: 8px;
}

.card-info h3 {
  width: 295px;
  height: 57px;
  color: #3a4a42;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.card-info ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.card-info ul li {
  list-style-type: none;
  padding: 8px 12px;
  background-color: #ebf0ee;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  border-radius: 3px;
}

.card-info .btnbar {
  width: 305px;
  height: 69px;
}

.card-info .btnbar a {
  text-decoration: none;
  display: block;
  width: 122px;
  height: 48px;
  text-align: center;
  background-color: #36b37f;
  padding: 12px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border-radius: 4px;
  margin: 13px 92px 8px;
}

.card-info .btnbar a:active {
  background-color: #008552;
}

.card-info .btnbar a:hover {
  box-shadow: 0 8px 16px 0 rgba(54, 179, 127, 0.24);
}

/* Work section end */

/* About section start */

#aboutme {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}

.aboutwrapper {
  width: 375px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("../images/Mask\ Group.png"), url("../images/Group.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 100% 0.4%, 0% 24%;
}

.aboutbox {
  margin-top: 64px;
  width: 351px;
  height: 338px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 59px;
}

.about-title {
  width: 351px;
  height: 48px;
  text-align: center;
}

.about-title h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.descrip {
  width: 351px;
  height: 194px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

#aboutme .resumebtn a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #36b37f;
  border-radius: 4px;
  padding: 12px;
}

#aboutme .resumebtn a:active {
  background-color: #008552;
}

#aboutme .resumebtn a:hover {
  box-shadow: 0 8px 16px 0 rgba(54, 179, 127, 0.24);
}

.aboutwrapper .skill-card {
  width: 327px;
  height: 316px;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 24px;
  transition: border 0.1s;
}

.aboutwrapper .skill-card:hover {
  border: 2px solid #36b37f;
}

.icon-box {
  width: 327px;
  height: 128px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box .icon {
  background-color: #fff;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagbox {
  width: 327px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.skill-card .tagbox li {
  list-style-type: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  margin-bottom: 24px;
}

.tagbox ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-card .tagbox ul li {
  list-style-type: none;
  margin: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background-color: #fff;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
}

/* About section end */

/* Contact form start */

#form-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-section .form-wrapper {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/Frame.png");
  background-repeat: no-repeat;
  background-position: 100% 90.2%;
}

.form-wrapper .form-trigger {
  width: 327px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-top: 30px;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  width: 327px;
  margin-top: 58px;
}

form input {
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  width: 100%;
  padding: 15px 16px;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
}

form textarea {
  background: #fff;
  border: 1px solid #60c095;
  border-radius: 4px;
  height: 114px;
  width: 100%;
  padding: 12px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #42526e;
}

form button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #36b37f;
  padding: 12px;
  border-radius: 4px;
  border: 0;
}

.form-wrapper form button:active {
  background-color: #008552;
}

.form-wrapper form button:hover {
  box-shadow: 0 8px 16px 0 rgba(54, 179, 127, 0.24);
}

.form-wrapper .my-email {
  height: 38px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 31px auto 29px;
}

.form-wrapper ul {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style-type: none;
  width: 170px;
  align-self: center;
}

#form-secton .form-wrapper ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form-wrapper ul li a img {
  padding: 0;
  margin: 0;
}

.form-wrapper ul .twitter {
  width: 19.28px;
  height: 18.58px;
}

.form-wrapper ul .linkedin {
  width: 20px;
  height: 18.62px;
}

.form-wrapper ul .medium {
  width: 20px;
  height: 15.69px;
}

.form-wrapper ul .github {
  width: 17.99px;
  height: 18.62px;
}

.form-wrapper ul .angellist {
  width: 14.17px;
  height: 18.62px;
}

.form-wrapper .shape {
  width: 134px;
  height: 5px;
  margin: 32.08px 0 8px;
  background: #0d151e;
  border-radius: 10px;
}

/* Contact Form End */

/* Desktop Version Start */

@media screen and (min-width: 768px) {
  body {
    background-color: white;
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
  }

  /* Hero section start */

  #hero {
    background-image: url("../images/Header-llustration-desktop@2x.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #hero #navbar {
    display: block;
    width: 100vw;
    height: 8vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #0000;
    transition: 0s;
  }

  #hero .hamburger {
    display: none;
  }

  #close-menu {
    display: none;
  }

  #hero #navbar .manu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding-top: 2vh;
    left: 0;
  }

  #hero .manu a {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: #344563;
    margin: 0;
  }

  #hero .banner {
    width: 100vw;
    height: auto;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
  }

  #hero .banner .introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 63.8vw;
  }

  #hero .title {
    width: 63.8vw;
    height: auto;
    font-style: normal;
    text-align: center;
    margin-top: 160px;
  }

  #hero .title h1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #hero .title h1 span:not(:last-child) {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
  }

  #hero .title h1:last-child {
    flex-basis: 100%;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
  }

  #hero .info {
    width: 100%;
    height: auto;
    line-height: 32px;
    margin: 0;
  }

  #hero .info p {
    padding: 0 25px;
  }

  #hero .social {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #hero .social ul {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .chevron {
    margin: 84px auto 400px;
  }

  /* Hero section end */

  /* Work section start */

  body .showcase-title {
    width: 100vw;
    height: auto;
    margin: 0;
  }

  body .title-box {
    text-align: center;
    width: 100%;
  }

  .separator {
    display: none;
  }

  body #worksection {
    margin-top: 52px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 24px;
    justify-content: center;
    align-items: center;
    width: 81.38vw;
    margin-left: 9.31vw;
    margin-right: 9.31vw;
  }

  .card {
    width: 327px;
    height: 474px;
    background: #ebf0ee;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  /* Work section end */

  /* About section start */

  body #aboutme {
    background-image:
      url("../images/illustration-about-me-2-desktop@2x.png"),
      url("../images/Frame@2x.png");
    background-repeat: no-repeat;
    background-size: 228px 127px, 269px 244px;
    background-position: 0% 39%, 100% 15%;
  }

  body #aboutme .aboutwrapper {
    width: 81.38vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: none;
    margin-top: 108px;
  }

  #aboutme .aboutwrapper .aboutbox {
    margin-top: 80px;
    width: 100%;
    height: auto;
    padding: 0 8.75vw;
  }

  #aboutme .aboutwrapper .about-title {
    width: 100%;
    text-align: center;
  }

  #aboutme .aboutwrapper .descrip {
    width: 100%;
    height: auto;
    padding: 0 20px;
    margin-top: 24px;
  }

  #aboutme .resumebtn a {
    margin-top: 24px;
  }

  .aboutwrapper .skill-card {
    margin-top: 25px;
  }

  /* About section end */

  /* Contact form start */

  body #form-section {
    background-image:
      url("../images/Frame@contact.png"),
      url("../images/illustration-2-contact-form-desktop@2x.png"),
      url("../images/Frame@contact-2.png");
    background-repeat: no-repeat;
    background-size: 235px 261px, 130px 105px, 200px 490px;
    background-position: 0% 95%, 22% 85%, 100% 95%;
  }

  body #form-section .form-wrapper {
    width: 81.38vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: none;
    margin-top: 95px;
  }

  #form-section .form-wrapper .form-trigger {
    width: 32.14vw;
    font-size: 30px;
    margin: 0;
  }

  body #form-section .form-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
    width: 47.5vw;
    margin: 0;
  }

  #form-section .form-wrapper .my-email {
    height: 38px;
    width: 100%;
    color: #42526e00;
    margin: 100px auto;
  }

  #form-section .form-wrapper ul {
    width: 100%;
    justify-content: center;
    gap: 21px;
    padding: 60px 20px 20px 20px;
  }

  #form-section .form-wrapper .shape {
    display: none;
  }

  #form-section .horizontal {
    height: 1px;
    background: #dfe1e6;
    width: 100vw;
    margin-top: -63.28px;
  }
}
